<% provide(:title, 'Guides') %>

<div class="container">
  <% @guides.each do |guides| %>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag("http://radventurepdx.github.io/img/guide-n-location/guide1.jpg", size: "242x200", alt: "guide-image") %>
      <div class="caption">
        <h3><%= guides.user.name %></h3>
        <ul>
          <li><%= guides.user.email %></li>
          <li><%= guides.location %></li>
          <li><%= guides.specialty %></li>
          <li><%= number_to_currency(guides.rate) %></li>
          <!-- <li><%= link_to 'Show', guides %></li> -->
        </ul>
        <p><a href="#" class="btn btn-primary" role="button">Book Now</a></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
a
