<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('http://web.cecs.pdx.edu/~ankgupta/skiing.jpg'); opacity: 0.6;"></div>
      <div class="carousel-caption">
        <h1 style="color:#000000"><strong>Skiing</strong></h1>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://web.cecs.pdx.edu/~ankgupta/snowboarding.jpg');  opacity: 0.6;"></div>
      <div class="carousel-caption">
        <h1 style="color:#000000"><strong>Snowboarding</strong></h1>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://web.cecs.pdx.edu/~ankgupta/whistler.jpg');  opacity: 0.6;"></div>
      <div class="carousel-caption">
        <h1 style="color:#000000"><strong>Your Confusing Map</strong></h1>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</header>

<!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        What is Radventure?
      </h1>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i>About Us</h4>
        </div>
        <div class="panel-body">
          <p>
            You’re in a rad new place, but aren’t quite sure where to start.
            You wish you had a local buddy to give you the inside scoop.
            You chat with ski techs, bike shop staff, and bartenders, but what
             you really want is local to show you the sick spots so you can
             make the most your time outside.
          </p>
          <a href="about.html" class="btn btn-default">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-check"></i>Our Mission</h4>
          </div>
          <div class="panel-body">
            <p>
              It is Radventure's mission to help travellers maximize their time, pocketbooks, and smiles while experiencing adventures in the great outdoors.
              <br>
              We’ve all been there. You’re in a rad new place, but aren’t quite sure where to start. You wish you had a local buddy to give you the inside scoop. You chat with ski techs, bike shop staff, and bartenders, but what you really want is local to show you the sick spots so you can make the most your time outside.
            </p>
            <a href="about.html" class="btn btn-default">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-check"></i>Get Started</h4>
          </div>
          <div class="panel-body">
            <p style="margin-left:25px">
              <li>Create an account</li>
              <li>View a <%= link_to "Location", locations_path %></li>
              <li>Find a guide!!</li>
              <li>Book it!!!</li>
              <li>Had a radventurous time!!!</li>
              <li>Write your review!!!</li>
            </p>
            <a href="signup.html" class="btn btn-default">Sign Up</a>
            <a href="faq.html" class="btn btn-default">Questions?</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section - Panels for Guide & Location-->
      <div class="row">
        <div class="col-lg-12">
           <h2 class="page-header">Guides & Locations</h2>
        </div>

        <div class="col-md-4 col-sm-6">
           <div class="panel panel-default">
             <div class="panel-heading">
                <img class="img-responsive img-portfolio img-hover"
                   src="http://radventurepdx.github.io/img/mthood.jpg"
                   style="height:200px; width:400px;
                   margin-bottom: 0px;" alt="">
                <h4><strong>Name: Mount Hood</strong></h4>
                <h4>Location: Portland, Oregon</h4>
                <a href="mthood.html" class="btn btn-primary">See More</a>
             </div>
           </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <img class="img-responsive img-portfolio img-hover"
                   src="http://radventurepdx.github.io/img/mtbachelor.jpg"
                   style="height:200px; width:400px;
                           margin-bottom: 0px;" alt="">
              <h4><strong>Name: Mount Bachelor</strong></h4>
              <h4>Location: Bend, Oregon</h4>
              <a href="mtbachelor.html" class="btn btn-primary">See More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <img class="img-responsive img-portfolio img-hover"
                   src="http://radventurepdx.github.io/img/mtwhistler.jpg"
                   style="height:200px; width:400px;
                           margin-bottom: 0px;" alt="">
              <h4><strong>Name: Mount Whistler</strong></h4>
              <h4>Location: Vancouver, Canada</h4>
              <a href="mtwhistler.html" class="btn btn-primary">See More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">

        <% home_guides.each do |guide| %>
          <div class="col-md-4 col-sm-6">
            <div class="panel panel-default">
            <!--  <a href="<%= guide_path(guide) %>"> -->
                <div class="panel-heading">
                  <img class="img-responsive img-portfolio img-hover"
                    src="http://web.cecs.pdx.edu/~ankgupta/guide-n-location/guide1.jpg"
                    style="height:200px; width:400px;
                    margin-bottom: 0px;" alt="">
                  <h4>Name:  <%= guide.user.name %> </h4>
                  <h4>Sports: <%= sports_string(guide.downhill, guide.crosscountry, guide.snowboard) %></h4>
                  <h4>Location: <%= location_string(guide.hood, guide.bachelor, guide.whistler) %></h4>

                  <h4>Rating:
                    <% stars = guide.reviews.average(:rating).round %>
                    <% stars.times do |i| %>
                        <span class="fa fa-star"></span>
                    <% end %>
                    <% (5 - stars).times do |i| %>
                        <span class="fa fa-star-o"></span>
                    <% end %>
                  </h4>

                  <a href="<%= guide_path(guide) %>" class="btn btn-primary">See More</a>
                </div>
            <!--  </a> -->
            </div>
          </div>
        <% end %>
      </div>
    <!-- /.row -->

    <hr>

  </div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="../javascripts/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../javascripts/bootstrap.min.js"></script>
  <script src="../javascripts/bootstrap.js"></script>


  <!-- Script to Activate the Carousel -->
  <script>
  $('.carousel').carousel({
    interval: 5000 //changes the speed
  })
  </script>
