<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Mt. Hood
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img class="img-responsive" src="http://radventurepdx.github.io/img/mthood.jpg" alt="">
          </div>
          <div class="item">
            <img class="img-responsive" src="http://radventurepdx.github.io/img/mthood2.jpg" alt="">
          </div>
          <div class="item">
            <img class="img-responsive" src="http://radventurepdx.github.io/img/mthood3.jpg" alt="">
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Location Description</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
      <h3>Location Details</h3>
      <ul>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
      </ul>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Top Guides for Mt. Hood</h3>
    </div>

    <% top_guides = [] %>
    <% local_guides('Mount Hood').each do |guide| %>
      <% average_rating = guide.reviews.average(:rating) %>
      <% if top_guides.empty? || top_guides[0].reviews.average(:rating) < average_rating %>
        <% if !top_guides[1].nil? %>
          <% top_guides[2] = top_guides[1] %>
        <% end %>
        <% top_guides[1] = top_guides[0] %>
        <% top_guides[0] = guide %>
      <% elsif top_guides[1].nil? || top_guides[1].reviews.average(:rating) < average_rating %>
        <% top_guides[2] = top_guides[1] %>
        <% top_guides[1] = guide %>
      <% elsif top_guides[2].nil? || top_guides[2].reviews.average(:rating) < average_rating %>
        <% top_guides[2] = guide %>
      <% end %>
    <% end %>

    <div class="col-sm-3 col-xs-6">
      <h3><%= link_to top_guides[0].user.name, top_guides[0] %></h3>
      <!-- <img class="img-responsive img-hover img-related" src="../img/guide-n-location/guide1.jpg" alt=""> -->
      <ul>
        <li>Sports: <%= top_guides[0].specialty %></li>
        <li>Rate: <%= number_to_currency(top_guides[0].rate) %></li>
        <li>Rating: <% stars = top_guides[0].reviews.average(:rating).round %>
          <% stars.times do |i| %>
            <span class="fa fa-star"></span>
          <% end %>
          <% (5 - stars).times do |i| %>
            <span class="fa fa-star-o"></span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h3><%= link_to top_guides[1].user.name, top_guides[1] %></h3>
      <!-- <img class="img-responsive img-hover img-related" src="../img/guide-n-location/guide1.jpg" alt=""> -->
      <ul>
        <li>Sports: <%= top_guides[1].specialty %></li>
        <li>Rate: <%= number_to_currency(top_guides[1].rate) %></li>
        <li>Rating: <% stars = top_guides[1].reviews.average(:rating).round %>
          <% stars.times do |i| %>
            <span class="fa fa-star"></span>
          <% end %>
          <% (5 - stars).times do |i| %>
            <span class="fa fa-star-o"></span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h3><%= link_to top_guides[2].user.name, top_guides[2] %></h3>
      <!-- <img class="img-responsive img-hover img-related" src="../img/guide-n-location/guide1.jpg" alt=""> -->
      <ul>
        <li>Sports: <%= top_guides[2].specialty %></li>
        <li>Rate: <%= number_to_currency(top_guides[2].rate) %></li>
        <li>Rating: <% stars = top_guides[2].reviews.average(:rating).round %>
          <% stars.times do |i| %>
            <span class="fa fa-star"></span>
          <% end %>
          <% (5 - stars).times do |i| %>
            <span class="fa fa-star-o"></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer class="navbar container"  style="width:100% ; background:#d3d3d3 ; max-width:inherit">
    <div class="row text-center center-block">
      <div class="col-md-4">
        <h4>User Information</h4>
        <ul class="list-unstyled" style="color:#777777">
          <li><a href="">Get Started</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Guides</a></li>
          <li><a href="">Locations</a></li>
          <li><a href="../faq.html">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Guide Information</h4>
        <ul class="list-unstyled" style="color:#777777">
          <li><a href="">Become Guide</a></li>
          <li><a href="">Payment Process</a></li>
          <li><a href="">How It Works</a></li>
          <li><a href="">Legal</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Corporate</h4>
        <ul class="list-unstyled" style="color:#777777">
          <li><a href="../contact.html">Contact Us</a></li>
          <li><a href="">Legal</a></li>
          <li><a href="">Mission</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Expansion</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <p>
        <br><br>
        Copyright &copy; Radventure 2014
      </p>
    </div>
  </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>
