<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header" style="text-align:center">Search
    </h1>
  </div>
</div>

<div class="row">
  <!-- Alignment -->
  <div class="col-sm-offset-2 col-sm-8 col-lg-8 well well-sm">
  <!-- Search bar -->
        <%= form_tag :controller => 'static_pages', :action => 'search', :method => 'get' do %>
            <%= text_field_tag :search, params[:search], :id => 'search_field', class: 'form-control' %>
            <br>
            <%= submit_tag "Search", :name => nil , class: 'btn-primary btn' %>
        <% end %>


          <!-- Check search string -->
        <% if !@search_string.nil? %>
          <% if @location.nil? and (@guide_list.nil? or @guide_list.empty?) %>
            The search for "<%= @search_string %>" yielded no results
          <% else %>
            Results for "<%= @search_string %>":
          <% end %>

          <!-- Location listing -->
          <% if !@location.nil? %>
              <h3>Locations</h3>
              <%= link_to @location, if    @location == "Mount Hood"     then mthood_url
                                     elsif @location == "Mount Bachelor" then mtbachelor_url
                                     elsif @location == "Whistler"       then mtwhistler_url
                                     end %>
          <% end %>

          <!-- Guide listings -->
          <style>
              table, th, td {
                  border: 2px solid black;
                  border-collapse: collapse;
              }
               th, td {
                  padding: 5px;
              }
          </style>

          <% if !@guide_list.nil? and !@guide_list.empty? %>
            <h3>Guides</h3>
            <table>
              <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Locations</th>
                <th>Sports</th>
                <th>Rating</th>
              </tr>
              </thead>
              <% @guide_list.each do |guide| %>
                <tr>
                  <td><%= link_to guide.user.name, guide %></td>
                  <td><%= guide.user.email %></td>
                  <td><%= location_string(guide.hood, guide.bachelor, guide.whistler) %></td>
                  <td><%= sports_string(guide.downhill, guide.crosscountry, guide.snowboard) %></td>
                  <td><%= if !guide.reviews.empty? then guide.reviews.average(:rating).to_s
                          else "N/A" end %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
<!-- Tracking -->
<script src="//cdn.optimizely.com/js/2718120061.js"></script>