    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="text-align:center">Contact Radventure
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Contact Details</h3>
                <p>
                    Portland State University<br>Portland, OR 97201<br>
                </p>
                <p><i class="fa fa-phone"></i>
                    <abbr title="Phone">P</abbr>: (503)-111-111</p>
                <p><i class="fa fa-envelope-o"></i>
                    <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">radventureit@gmail.com</a>
                </p>
                <p><i class="fa fa-clock-o"></i>
                    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
            </div>
        </div>
        <!-- /.row -->

        <br>
        <div id="contacts">
            <div class="row">
                <!-- Alignment -->
                <div class="col-sm-offset-3 col-sm-6 well">
                    <!-- Form itself -->
                    <!-- <form name="sentMessage" class="well" id="contactForm"  novalidate> -->
                        <legend>Email Us</legend>

                        <%= form_for Message.new do |formElement| %>
                          <% if @message.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %></h2>
                              <ul>
                                <% @message.errors.full_messages.each do |msg| %>
                                  <li><%= msg %></li>
                                <% end %>
                              </ul>
                            </div>
                          <% end %>

                          <div class="control-group">
                              <div class="controls">

                                  <%= formElement.label :name %>
                                  <%= formElement.text_field :name, :required => true, class: 'form-control', id: 'name',
                                    placeholder: 'Full Name' %>
                                    <p class="help-block"></p>

                              </div>
                          </div>
                          <div class="control-group">
                              <div class="controls">

                                <%= formElement.label :email %>
                                <%= formElement.email_field :email, :required => true, class: 'form-control', id: 'email',
                                  placeholder: 'youremail@example.com' %>
                                <p class="help-block"></p>
                              </div>
                          </div>

                          <div class="control-group">
                              <div class="controls">

                                <%= formElement.label :subject %>
                                <%= formElement.text_field :subject, :required => true, class: 'form-control', id: 'subject',
                                  placeholder: 'Subject' %>
                                <p class="help-block"></p>
                              </div>
                          </div>

                          <div class="control-group">
                              <div class="controls">

                                <%= formElement.label "Message" %>
                                <%= formElement.text_area :content, :required => true, class: 'form-control', id: 'message',
                                  placeholder: 'Message', :input_html => {:rows => 10, :cols => 100} %>
                                <p class="help-block"></p>

                                <%= formElement.hidden_field :recipient_name, value: "user" %>
                                <%= formElement.hidden_field :recipient_email, value: "user@test.com" %>

                              </div>
                          </div>
                          <br>
                          <div id="success"> </div> <!-- For success/fail messages -->
                          <%= formElement.submit 'Send', class: 'btn btn-primary pull-right', type: 'submit' %><br/>
                        <% end %>

                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>


    <!-- JS FILES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jqBootstrapValidation.js"></script>
    <script src="./js/contact_me.js"></script>
        <hr>
    <!-- Tracking -->
    <script src="//cdn.optimizely.com/js/2718120061.js"></script>
    
    </div>
    <!-- /.container -->
