<% provide(:title, 'Log in') %>

<%= form_for(:session, url: login_path) do |formElement| %>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1>Login</h1>
    <form>
      <!--%= render 'shared/error_messages' %-->

      <div>
        <%= formElement.label :Email%>
        <%= formElement.email_field :email,  class: 'form-control', id: 'Username', placeholder: 'radventureit@gmail.com' %>
      </div>

      <div>
        <%= formElement.label :password%>
        <%= formElement.password_field :password, class: 'form-control', id: 'Password', placeholder: 'Password' %>
      </div>
      </br>
      <div class='form-group'>
        <%= formElement.submit "Submit", class: 'btn btn-success' %>
      </div>

    </form>
  </div>
</div>
<% end %>
