<% provide(:title, 'Change password') %>
<h1>Change user password</h1>

<%= form_for(@user) do |formElement| %>
    <form class='form-horizontal'>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag(:changing_password, true) %>

      <div class='form-group'>
        <%= formElement.label 'Current password', class: 'col-sm-2 control-label' %>
        <%= password_field_tag 'current_password' %>
      </div>

      <div class='form-group'>
        <%= formElement.label :password, 'New password', class: 'col-sm-2 control-label' %>
        <%= formElement.password_field :password %>
      </div>

      <div class='form-group'>
        <%= formElement.label :password_confirmation, 'New password confirmation',
                              class: 'col-sm-2 control-label'
        %>
        <%= formElement.password_field :password_confirmation %>
      </div>

      <div class='form-group'>
        <%= formElement.submit 'Confirm'%>
      </div>

    </form>

    <%= button_to 'Cancel', 'edit', :method => 'get' %>
<% end %>