<% provide(:title, 'Change password') %>
<h1>Change user password</h1>

<%= form_for(@user) do |formElement| %>
    <form class='form-horizontal'>
      <%= render 'shared/user_error_messages' %>

      <div class='form-group'>
        <%= formElement.label 'Current password', class: 'col-sm-2 control-label' %>
        <%= password_field_tag 'current_password' %>
      </div>

      <div class='form-group'>
        <%= formElement.label :password, 'New password', class: 'col-sm-2 control-label' %>
        <%= formElement.password_field :password %>
      </div>

      <div class='form-group'>
        <%= formElement.label :password_confirmation, 'New password confirmation',
                              class: 'col-sm-2 control-label'
        %>
        <%= formElement.password_field :password_confirmation %>
      </div>

      <div class='form-group'>
        <%= formElement.submit 'Confirm'%>
      </div>

    </form>

    <%= link_to "Cancel", edit_user_url(id: @user.id),  class: "btn btn-default"%>
<% end %>