<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header" style="text-align:center">Sign Up</h1>
  </div>
</div>

<div class="row">
   <div class="col-sm-6 col-sm-offset-3 well" style="text-align:center">
        <%= form_for(@user) do |formElement|%>
          <form class='well'>
            <%= render 'shared/user_error_messages' %>

            <legend>Account Information</legend>
            <div class="row">
              <div class="control-group col-sm-8 col-sm-offset-2">
                    <div class='form-group'>
                      <%= formElement.label :name, class: 'control-label' %>
                      <%= formElement.text_field :name , class: 'form-control' %>
                    </div>
              </div>
            </div>

            <div class="row">
              <div class="control-group col-sm-8 col-sm-offset-2">
                    <div class='form-group'>
                      <%= formElement.label :password, class: 'control-label' %>
                      <%= formElement.password_field :password , class: 'form-control' %>
                    </div>
              </div>
            </div>

            <div class="row">
              <div class="control-group col-sm-8 col-sm-offset-2">
                  <div class='form-group'>
                      <%= formElement.label :password_confirmation, 'Confirmation',
                                  class: 'control-label' %>
                      <%= formElement.password_field :password_confirmation , class: 'form-control'%>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="control-group col-sm-8 col-sm-offset-2">
                <div class='form-group'>
                  <%= formElement.label :email, class: 'control-label' %>
                  <%= formElement.email_field :email , class: 'form-control'%>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="control-group col-sm-8 col-sm-offset-2">
                  <div class='form-group'>
                      <%= formElement.label :phone_number, class: 'control-label' %>
                      <%= formElement.text_field :phone_number , class: 'form-control'%>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="control-group col-sm-8 col-sm-offset-2">
                  <div class='form-group'>
                      <%= formElement.label :age, class: 'control-label' %>
                      <%= formElement.text_field :age , class: 'form-control'%>
                  </div>
              </div>
            </div>

            <legend>Personal Information</legend>
            <p class="help-block control-group col-sm-8 col-sm-offset-2">Your personal information will not be shared with anyone. It will only be used for payment information and personal security</p>
            <br><br>
            <div class="row">
              <div class="control-group col-sm-8 col-sm-offset-2">
                 <div class='form-group'>
                  <%= formElement.label :address, class: 'control-label' %>
                  <%= formElement.text_field :address, 'size' => 103 , class: 'form-control'%>
                 </div>
              </div>
            </div>

            <div class="row">
              <div class="control-group col-sm-8 col-sm-offset-2">
                 <div class='form-group'>
                      <%= formElement.label :city, class: 'control-label' %>
                      <%= formElement.text_field :city, class: 'form-control' %>
                 </div>
              </div>
            </div>

            <div class="row">
              <div class="control-group col-sm-8 col-sm-offset-2">
                <div class='form-group'>
                  <%= formElement.label :zipcode, 'ZIP code', class: 'control-label' %>
                  <%= formElement.text_field :zipcode , class: 'form-control'%>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="control-group col-sm-8 col-sm-offset-2">
                <div class='form-group'>
                  <%= formElement.label :country, class: 'control-label' %>
                  <br>
                  <%= formElement.select(:country, options_for_select(countries)) %>
                  <br>
                </div>
              </div>
            </div>

            <div class="row", id = 'state_control'>
              <div class="control-group col-sm-8 col-sm-offset-2">
                <div class='form-group'>
                  <%= formElement.label :state, class: 'control-label' %>
                  <br>
                  <%= formElement.select(:state, options_for_select(us_states))  %>
                  <br>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="control-group col-sm-8 col-sm-offset-2">
                <div class="control">
                  By clicking <strong class="label label-primary">Create my account</strong>, you agree to the
                  <a href="" data-toggle="modal" data-target="#termsconditions">Terms and Conditions</a>
                  <p class="help-block"></p>
                </div>
              </div>
            </div>
            <div class="modal fade" id="termsconditions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:99999999999">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="termsconditions">Terms & Conditions</h4>
                  </div>
                  <div class="modal-body">
                      <div>
                        <p>INSERT TERMS AND CONDITIONS HERE</p>
                      </div>
                      <button type="submit" class="btn btn-default">Okay</button>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="control-group col-sm-8 col-sm-offset-2">
              <div class='form-group'>
                <%= formElement.submit 'Create my account', class: "btn btn-success" %>
              </div>
              </div>
            </div>
          </form>
        <% end %>
   </div>
</div>

<script>
    var country_start = $('#user_country :selected').val();
    if(country_start != 'United States of America') {
        $('#state_control').hide();
    } else {
        $('#state_control').show();
    }
    // when the country field changes
    $("#user_country").change(function() {
        var country = $('#user_country :selected').val();
        if(country != 'United States of America') {
            $('#state_control').hide();
        } else {
            $('#state_control').show();
        }
    });
</script>
<!-- Tracking -->
<script src="//cdn.optimizely.com/js/2718120061.js"></script>