<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for(@user) do |formElement| %>
  <form class='form-horizontal'>
    <%= render 'shared/user_error_messages' %>
    <div class='form-group'>
      <%= formElement.label :name, class: 'col-sm-2 control-label' %>
      <%= formElement.text_field :name %>
    </div>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" style="text-align:center">User Registration</h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Registration Section -->
  <div id="guide">
    <div class="row">
      <!-- Alignment -->
      <div class="col-sm-offset-3 col-sm-6">
        <!-- Form itself -->
        <%= form_for(@user) do |formElement| %>
        <%= render 'shared/error_messages' %>
          <form name="sentMessage" class="well" id="registrationForm"  novalidate>
            <legend>Account Information</legend>

            <div class="row">
              <div class="control-group col-sm-6">
                <div class="controls">

                  <%= formElement.text_field :name, class: "form-control",
                  placeholder: "First Name", id: "firstName", input: 'required
                  data-validation-required-message="Please enter your first name"' %>
                  <p class="help-block"></p>

                </div>
              </div>
              <div class="control-group col-sm-6">
                <div class="controls">

                  <%= formElement.text_field :name, class: "form-control",
                  placeholder: "Last Name", id: "lastName", input: 'required
                  data-validation-required-message="Please enter your last name"' %>
                  <p class="help-block"></p>

                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">

                <%= formElement.password_field :password, class: "form-control",
                placeholder: "Password", id: "password", input: 'required
                data-validation-required-message="Please enter your password"' %>
                <p class="help-block"></p>

              </div>
            </div>

            <div class="control-group">
              <div class="controls">

                <%= formElement.password_field :password_confirmation, class: "form-control",
                placeholder: "Confirm Password", id: "Password-Confirm", input: 'required
                data-validation-required-message="Please confirm your password"' %>
                <p class="help-block"></p>

              </div>
            </div>
            <div class="control-group">
              <div class="controls">

                <%= formElement.email_field :email, class: "form-control",
                placeholder: "Email", id: "email", input: 'required
                data-validation-required-message="Please enter your email"' %>
                <p class="help-block"></p>

              </div>
            </div>

            <br>
            <legend>Personal Information</legend>
            <p class="help-block">Your personal information will not be shared with anyone. It will only be used for payment information and personal security</p>
            <!--schema address ... street number??? -->
            <br>
            <div class="row">
              <div class="control-group">
                <div class="controls">
                  <p class="col-sm-3 help-block control-label">Phone Number</p>
                  <div class="col-sm-5">

                    <%= formElement.text_field :phone_number, class: "form-control bfh-phone",
                    input: 'required data-validation-required-message=Please enter your phone number' %>
                    <p class="help-block"></p>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="control-group col-sm-4">
                <div class="controls">

                  <%= formElement.text_field :age, class: "form-control",
                  placeholder: "Age", id: "age", input: 'required
                  data-validation-required-message="Please enter your age"' %>
                  <p class="help-block"></p>

                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">

                <%= formElement.text_area :profile, class: "form-control", 'rows' => 10, 'cols' => 100,
                placeholder: "Write about yourself! :)", id: "address", input: 'required
                data-validation-required-message="Please enter your address"' %>
                <p class="help-block"></p>

              </div>
            </div>
            <div class="control-group">
              <div class="controls">

                <%= formElement.text_field :address, 'size' => 103, class: "form-control",
                placeholder: "Address Line i.e. 123 SW Main Street Ave", id: "address", input: 'required
                data-validation-required-message="Please enter your address"' %>
                <p class="help-block"></p>

              </div>
            </div>
            <div class="control-group">
              <div class="controls">

                <%= formElement.text_field :city, class: "form-control",
                placeholder: "City", id: "city", input: 'required
                data-validation-required-message="Please enter your city"' %>
                <p class="help-block"></p>

              </div>
            </div>
            <div class="row">
              <div class="control-group col-sm-6">
                <div class="controls">
                  <%= formElement.label :state, class: 'span6' %>
                  <%= formElement.select(:state, options_for_select(us_states)) %>
                  <p class="help-block"></p>

                </div>
              </div>
              <div class="control-group col-sm-6">
                <div class="controls">

                  <%= formElement.text_field :zipcode, class: "form-control",
                  placeholder: "Zip Code", id: "zip", input: 'required
                  data-validation-required-message="Please enter your zip code"' %>
                  <p class="help-block"></p>

                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <%= formElement.label :country, class: 'span6' %>
                <%= formElement.select(:country, options_for_select(countries)) %>
                <p class="help-block"></p>

              </div>
            </div>

            <br><br>
            <div class="control">
              By clicking <strong class="label label-primary">Register</strong>, you agree to the
              <a href="#">Terms and Conditions</a>
              <p class="help-block"></p>
            </div>

            <div id="success"> </div> <!-- For success/fail messages -->
            <%= formElement.submit 'Register', class: 'btn btn-primary pull-right' %>

          </form>
        <% end %>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <hr>
</div>
