<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <form class='form-horizontal'>
    <%= render 'shared/error_messages' %>
    <div class='form-group'>
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <%= f.text_field :name %>
    </div>

    <div class='form-group'>
      <%= f.label :email, class: 'col-sm-2 control-label' %>
      <%= f.email_field :email %>
    </div>

    <div class='form-group'>
      <%= f.label :location, class: 'col-sm-2 control-label' %>
      <%= f.text_field :location %>
    </div>

    <div class='form-group'>
      <%= f.label :password, class: 'col-sm-2 control-label' %>
      <%= f.password_field :password %>
    </div>

    <div class='form-group'>
      <%= f.label :password_confirmation, 'Confirmation',
          class: 'col-sm-2 control-label'
      %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class='form-group'>
      <%= f.submit 'Create my account'%>
    </div>
  </form>
<% end %>
