<h3>Hey Rad Team,</h3>

<% case %>
<% when @msg.subject.match("Question") && !@msg.recipient_name.match("user") %>
  <p><b><%= @msg.name %> </b> has asked <%= @msg.recipient_name %> a question. Here is a copy of the message:</p>
  <p><b>To:</b> <%= @msg.recipient_name %>, <%= @msg.recipient_email %></p>
  <p><b>From:</b> <%= @msg.name %>, <%= @msg.email %> </p>
<% else %>
  <p> <b><%= @msg.name %>(<%= @msg.email %>)</b> has a question. </p>
<% end %>

<% time = Time.now %>

<p><b>Sent:</b> <%= time.strftime("%A, %B %d, %Y @ %H:%M:%S")%></p>
<p><b>Subject:</b> <%= @msg.subject %></p>
<p><b>Message:</b> <%= @msg.content %></p>
