<% if !params[:location].nil? %>
  <h1>Guides for <%=params[:location]%></h1>
<% else %>
  <h1>Guide Listing</h1>
<% end %>

<style>
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }

th, td {
  padding: 5px;
}

</style>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Locations</th>
    <th>Sports</th>
    <th>Rating</th>
    <th>Link</th>
  </tr>
  </thead>

  <% Array(@guides).each do |guide| %>
    <% if !params[:location].nil? %>
      <% loc_str = location_string(guide.hood, guide.bachelor, guide.whistler) %>
      <% if loc_str.include?(params[:location]) %>
        <tr>

          <td><%= guide.user.name %></td>
          <td><%= guide.user.email %></td>
          <td><%= loc_str %></td>
          <td><%= sports_string(guide.downhill, guide.crosscountry, guide.snowboard) %></td>
          <td><%= if !guide.reviews.empty? then guide.reviews.average(:rating).to_s
                  else "N/A" end %></td>
          <td><%= link_to 'Show', guide %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td><%= guide.user.name %></td>
        <td><%= guide.user.email %></td>
        <td><%= location_string(guide.hood, guide.bachelor, guide.whistler) %></td>
        <td><%= sports_string(guide.downhill, guide.crosscountry, guide.snowboard) %></td>
        <td><%= if !guide.reviews.empty? then guide.reviews.average(:rating).to_s
                else "N/A" end %></td>
        <td><%= link_to 'Show', guide %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br>
<!-- Tracking -->
<script src="//cdn.optimizely.com/js/2718120061.js"></script>
