<h1>Listing Guides</h1>

<style>
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }

th, td {
  padding: 5px;
}

</style>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Locations</th>
    <th>Sports</th>
    <th>Rating</th>
    <th>Link</th>
  </tr>
  </thead>

  <% @guides.each do |guide| %>
    <tr>
      <td><%= guide.user.name %></td>
      <td><%= guide.user.email %></td>
      <td><%= location_string(guide.hood, guide.bachelor, guide.whistler) %></td>
      <td><%= sports_string(guide.downhill, guide.crosscountry, guide.snowboard) %></td>
      <td><%= if !guide.reviews.empty? then guide.reviews.average(:rating).to_s
              else "N/A" end %></td>
      <td><%= link_to 'Show', guide %></td>

    </tr>
  <% end %>
</table>

<br>

