<% provide(:title, 'Become a guide') %>
<h1>Becoming a guide</h1>

<%= form_for(@guide) do |formElement| %>
    <form class='form-horizontal'>
      <%= render 'shared/guide_error_messages' %>

      <div class='form-group'>
        <h3>Locations</h3>

        <ul>
          <li><%= formElement.check_box :hood %>
          <%= formElement.label 'Mount Hood'%> </li>

          <li><%= formElement.check_box :bachelor %>
          <%= formElement.label 'Mount Bachelor' %> </li>

          <li><%= formElement.check_box :whistler %>
          <%= formElement.label 'Whistler'%> </li>
        </ul>
      </div>

      <div class='form-group'>
        <h3>Specialties</h3>

        <ul>
          <li><%= formElement.check_box :downhill %>
          <%= formElement.label 'Downhill Skiing'%> </li>

          <li><%= formElement.check_box :crosscountry %>
          <%= formElement.label 'Crosscountry Skiing' %> </li>

          <li><%= formElement.check_box :snowboard %>
          <%= formElement.label 'Snowboarding'%> </li>
        </ul>
      </div>

<!--
      <div class='form-group'>
        <%= formElement.label :location, class: 'col-sm-2 control-label' %>
        <%= formElement.text_field :location %>
      </div>

      <div class='form-group'>
        <%= formElement.label :specialty, class: 'col-sm-2 control-label' %>
        <%= formElement.text_field :specialty %>
      </div>
-->


      <div class='form-group'>
        <%= formElement.label :rate, class: 'col-sm-2 control-label' %>
        <%= formElement.text_field :rate %>
      </div>

      <div class='form-group'>
        <%= formElement.submit 'Become a guide!'%>
      </div>

    </form>
<% end %>
