<% provide(:title, 'Become a guide') %>
<h1>Becoming a guide</h1>

<%= form_for(@guide) do |formElement| %>
    <form class='form-horizontal'>
      <%= render 'shared/guide_error_messages' %>

      <div class='form-group'>
        <%= formElement.label :location, class: 'col-sm-2 control-label' %>
        <input value="bachelor" id="bachelor" name="location[]"
               type="checkbox"><label for="bachelor">Bachelor</label>
        <input value="hood" id="hood" name="location[]"
               type="checkbox"><label for="hood">Hood</label>
        <input value="whistler" id="whistler" name="location[]"
               type="checkbox"><label for="whistler">Whistler</label>
      </div>

      <div class='form-group'>
        <%= formElement.label :specialty, class: 'col-sm-2 control-label' %>
        <input value="downhill" id="downhill" name="specialty[]"
               type="checkbox"><label for="downhill">Downhill</label>
        <input value="crosscountry" id="crosscountry" name="specialty[]"
               type="checkbox"><label for="crosscountry">Crosscountry</label>
        <input value="snowboard" id="snowboard" name="specialty[]"
               type="checkbox"><label for="snowboard">Snowboarding</label>
      </div>

<!--
      <div class='form-group'>
        <%= formElement.label :location, class: 'col-sm-2 control-label' %>
        <%= formElement.text_field :location %>
      </div>

      <div class='form-group'>
        <%= formElement.label :specialty, class: 'col-sm-2 control-label' %>
        <%= formElement.text_field :specialty %>
      </div>
-->


      <div class='form-group'>
        <%= formElement.label :rate, class: 'col-sm-2 control-label' %>
        <%= formElement.text_field :rate %>
      </div>

      <div class='form-group'>
        <%= formElement.submit 'Become a guide!'%>
      </div>

    </form>
<% end %>
