<% provide(:title, @guide.user.name) %>

<body>
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Guide Profile
                <% if current_guide?(Guide.find_by(user_id: @guide.user_id)) %>
                    <%= link_to "Edit Guide Profile", edit_guide_url(id: @guide.id),  class: "btn btn-default"%>
                <% end %>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Guide Profile Section -->
    <div class="row">
      <!-- Main Guide Info: Name, Location, Sport, Pricing, Ratings -->
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-xs-12 col-sm-5">
              <%= image_tag Gravatar.new(@guide.user.email).image_url(:d => :mm, :s => 300), class: 'img img-circle img-responsive full-width' %>
            </div>
            <div class="col-sm-offset-1 col-xs-12 col-sm-6">
              <h1><strong><%= @guide.user.name %></strong></h1>
              <h3><strong>Location: </strong><%= location_string(@guide.hood, @guide.bachelor, @guide.whistler) %> </h3>
              <h3><strong>Sports: </strong><%= sports_string(@guide.downhill, @guide.crosscountry, @guide.snowboard) %></h3>
              <h3><strong>Pricing: </strong><%= number_to_currency(@guide.rate) %>/hour</h3>
              <h3><strong>Rating: </strong>
                <% if @guide.reviews.count > 0 %>
                  <% stars = @guide.reviews.average(:rating).round %>
                  <% stars.times do |i| %>
                    <span class="fa fa-star"></span>
                  <% end %>
                  <% (5 - stars).times do |i| %>
                    <span class="fa fa-star-o"></span>
                  <% end %>
                <% else %>
                  No one has reviewed this guide yet. Be the first!
                <% end %>
              </h3>

              <!-- if user is logged in, then display appropriate buttons -->
              <% if logged_in? %>

                <% if !current_guide?(Guide.find_by(user_id: @guide.user_id)) %>
                  <%= link_to '<b>Reservation</b>'.html_safe, new_reservation_path, class: "btn btn-primary" %>
                  <!-- <i class="fa fa-book"></i> -->
                  <button type="button" class="btn btn-primary"
                    data-toggle="modal" data-target="#contactGuide">
                      <!-- <i class="fa fa-question-circle"></i> -->
                      <strong>Ask Guide a Question</strong>
                  </button>
                  <div class="modal fade" id="contactGuide" tabindex="-1"
                      role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true" style="z-index:99999999999">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span>
                          </button>
                          <h3 class="modal-title" id="contactGuide">Ask Guide a Question</h3>
                        </div>
                        <div class="modal-body">
                          <%= form_for(Message.new) do |formElement| %>
                          <!--form name="sentMessage" id="contactGuide"  novalidate-->
                          <div class="control-group">
                            <div class="controls">
                              <div class='form-group'>

                                <%= formElement.label "From" %>
                                     <%= formElement.text_field :name, required: true, class: 'form-control', id: 'name',
                                       value: "#{current_user.name}", readonly: true %>

                              </div>
                            </div>
                          </div>
                          <div class="control-group">
                            <div class="controls">
                              <div class='form-group'>

                                <%= formElement.label :email %>
                                    <%= formElement.email_field :email, required: true, class: 'form-control', id: 'email',
                                    value: "#{current_user.email}", readonly: true %>

                                <!-- currenly viewing guide's email -->
                                <%= formElement.hidden_field :recipient_name, value: "#{@guide.user.name}" %>
                                <%= formElement.hidden_field :recipient_email, value: "#{@guide.user.email}" %>

                              </div>
                            </div>
                          </div>
                              <div class="control-group">
                                <div class="controls">
                                  <div class='form-group'>

                                    <%= formElement.hidden_field :subject, value: "Question" %>
                                    <%= formElement.label "Message" %>
                                    <%= formElement.text_area :content, required: true, class: 'form-control', id: 'message',
                                      placeholder: 'Question or Message', input_html: {rows: 10, cols: 100, minlength: '5',
                                      maxlength: '999', style: 'resize:none' } %>

                                  </div>
                                </div>
                                <p class="help-block"></p>
                              </div>
                            <div id="success"> </div> <!-- For success/fail messages -->
                          <!--/form-->
                        </div>
                        <div class="modal-footer">
                          <div class='form-group'>
                            <%= formElement.submit 'Submit', class: 'btn btn-success'%>
                          </div>
                        </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
                <!-- else if user is not logged in, redirect them to login page -->
              <% elsif !logged_in? %>
                <%= link_to '<b>Reservation</b>'.html_safe, "/login", class: "btn btn-primary" %>
                <%= link_to '<b>Ask Guide a Question </b>'.html_safe, "/login", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Guide Profile Info Tab Navigation -->
    <ul id="myTab" class="nav nav-tabs nav-justified">
        <li class="active"><a href="#about-Me" data-toggle="tab">
          <i class="fa fa-child">
          </i> About Me</a>
        </li>
        <li class="">
          <a href="#availability" data-toggle="tab">
          <i class="fa fa-calendar"></i> Availability</a>
        </li>
        <li class="">
          <a href="#reviews" data-toggle="tab">
          <i class="fa fa-users"></i> Reviews</a>
        </li>
    </ul>

    <!-- Guide Profile Info Tab Content -->
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in col-sm-12" id="about-Me">
        <h3>About Me</h3>
        <p>
          <%= @guide.profile %>
        </p>
      </div>

      <div class="tab-pane fade col-sm-12" id="availability">
        <h3>Availability</h3>
        <table class="table table-striped">
          <tr>
            <td>Sunday</td>
            <td><%= @guide.sun_avail %></td>
          </tr>
          <tr>
            <td>Monday</td>
            <td><%= @guide.mon_avail %></td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td><%= @guide.tues_avail %></td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td><%= @guide.wed_avail %></td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td><%= @guide.thurs_avail %></td>
          </tr>
          <tr>
            <td>Friday</td>
            <td><%= @guide.fri_avail %></td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td><%= @guide.sat_avail %></td>
          </tr>
        </table>
      </div>

      <div class="tab-pane fade col-sm-12" id="reviews">
       <!-- <h3>Reviews</h3> -->
        <!-- Review Row -->
        <div class="row">
          <% if @guide.reviews.count > 0 %>
              <% for review in @guide.reviews %>
                <div class="col-md-2 text-center" style="padding-top:25px">
                  <p><%= image_tag Gravatar.new(review.user.email).image_url(:d => :mm) %></p>
                  <p><%= review.created_at %></p>
                </div>
                <div class="col-md-10">
                  <h3><% if !review.title.nil? then %><%=review.title%><% else %>Review Title<% end %></h3>
                  <!-- Rating stars -->
                  <% reviewRating = review.rating %>
                  <p>
                    <% reviewRating.times do |i| %>
                      <span class="fa fa-star"></span>
                    <% end %>
                    <% (5 - reviewRating).times do |i| %>
                      <span class="fa fa-star-o"></span>
                    <% end %>
                  </p>
                  <p>
                    by <%= review.user.name %>
                  </p>
                  <p>
                    <%= review.content %>
                  </p>
                  <br>
                </div>
              <% end %>
          <% end %>

        </div>
        <!-- /.row -->
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</body>
<!-- Tracking -->
<script src="//cdn.optimizely.com/js/2718120061.js"></script>
