<% provide(:title, @guide.user.name) %>
<%= @guide.user.name %>,
<%= @guide.user.email %>,
<%= @guide.user.phone_number %>,
<%= @guide.user.age %>,
<%= @guide.location %>
<br>
<legend>Availability</legend>
<% if @guide.availability[0] %>
  <b>Sunday</b>
  <br>
<% end %>

<% if @guide.availability[1] %>
  <b>Monday</b>
  <br>
<% end %>

<% if @guide.availability[2] %>
  <b>Tuesday</b>
  <br>
<% end %>

<% if @guide.availability[3] %>
  <b>Wednesday</b>
  <br>
<% end %>

<% if @guide.availability[4] %>
  <b>Thursday</b>
  <br>
<% end %>

<% if @guide.availability[5] %>
  <b>Friday</b>
  <br>
<% end %>

<% if @guide.availability[6] %>
  <b>Saturday</b>
  <br>
<% end %>

<br>

<!-- Rating Star display code starts here -->

<strong>Overall Rating: </strong>
<% if @guide.reviews.any? %>
  <% average = @guide.reviews.average(:rating) %>
<% else %>
  <% average = 0 %>
<% end %>

<% parts = average.divmod(1) %>
<% stars = parts[0] %>

<% if parts[1] >= 0.5 %>
  <% halfStar = true %>
  <% blankStars = 4 - stars %>
<% else %>
  <% halfStar = false %>
  <% blankStars = 5 - stars %>
<% end %>

<% stars.to_i.times do  %>
  <!-- Uncomment below when Bootstrap is moved from Front End -->
  <!-- <span class="fa fa-star"></span> -->
  <span><b>FS</b></span>
<% end %>

<% if halfStar %>
  <!-- Uncomment below when Bootstrap is moved from Front End -->
  <!-- <span class="fa fa-star-half-o"></span> -->
  <span><b>HS</b></span>
<% end %>

<% blankStars.to_i.times do %>
  <!-- Uncomment below when Bootstrap is moved from Front End -->
  <!-- <span class="fa fa-star-o"></span> -->
  <span><b>BS</b></span>
<% end %>

<!-- Rating Star display ends here -->

  <div class="col-md-8">
  <% if @guide.reviews.any? %>
    <h3>Reviews (<%= @guide.reviews.count %>)</h3>
    <ol class="reviews">
      <%= render @reviews %>
    </ol>
    <%= will_paginate @reviews %>
  <% end %>
</div>
