<li id="review-<%= review.id %>">
  <span class="user"><%= link_to review.user.name, review.user %></span>
  <span class="content"><%= review.content %></span>
  <span class="rating">Rating: <%= review.rating %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span>
</li>
