<!DOCTYPE html>
<html>
  <head>
    <script src="//cdn.optimizely.com/js/2718120061.js"></script>
    <title>GoRadVenture</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'daterangepicker' %>
    <%= javascript_include_tag 'moment' %>
    <%= csrf_meta_tags %>

<!--
    <script src="../javascripts/daterangepicker.js"></script>
    <script src="../javascripts/moment.js"></script>


    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS
    <link href="../stylesheets/modern-business.css" rel="stylesheet">
    <link href="../stylesheets/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>

    <!-- Custom Fonts
    <link href="../stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

  </head>
  <body>
    <%= render 'layouts/header' %>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>


    <%= yield %>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
